@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@300;400;500;700&display=swap');

* {
  font-family: Roboto, sans-serif;
  color: #262523;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;
}

.navbar-main {
  width: 80vw;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-weight: 500;
}

.title {
  margin-top: 20px;
  margin: 0;
  padding: 0;
}

.image-container-wrapper {
  margin-top: 20px;
  margin: auto 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.link {
  min-width: 7rem;
  text-align: center;
  justify-items: center;
}

h3 {
  margin: 0;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 20rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  min-height: 100%;
  padding: 3rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  height: 500px;
  transition: transform 0.5s ease;
}

.image-description {
  font-size: 0.8rem;
  position: absolute;
  color: #fafafa;
  border-radius: 5px;
  margin-top: 200px;
  max-width: 250px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heart-icon {
  position: absolute;
  margin-bottom: 220px;
  margin-left: 220px;
}

.icon-button {
  background-color: transparent;
  border: none;
}

h5 {
  margin: 0;
  font-size: 1rem;
}

.notfound {
  width: 80vw;
  border-radius: 10px;
  box-shadow: 7px 4px 36px 0px rgba(145,194,162,0.75);
  -webkit-box-shadow: 7px 4px 36px 0px rgba(145,194,162,0.75);
  -moz-box-shadow: 7px 4px 36px 0px rgba(145,194,162,0.75);
}